/* general */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans' ;
  font-size: 16px;
  background-color: #F5F8FA;
  color: #32495b;
}

header{
  position: relative;
}

/* ------------------------------------- */


/* UTILITY */


.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 1200px;
  margin: 0 auto;
}


.w_50{
  width: 50%;
}

.float_left{
  float: left;
}

/* ------------------------------ */

/* UTILITY STYLE */

.a_style a{
  text-decoration: none;
}


.li_style li{
  list-style: none;
  display: inline-block;
}

.li_style_footer{
  list-style: none;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  border: 2px solid #fe775a;
  line-height: 23px;
  text-decoration: none;
}

.btn_white{
  padding: 5px 10px;
  color: #fe775a;
  font-weight: bold;
}

.btn_orange{
  background: #fe775a;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
}

.btn_orange_2{
  background: #fe775a;
  border: 0;
  color: white;
}

.color_icon i{
  color: #fe775a;
}
/* ------------------------------------- */

/* HEADER */

.header_corp{
  position: relative;
}

.fix_header{
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 2;
  line-height: 80px;
  border-bottom: 1px solid grey;
  background-color: #F5F8FA ;
}

/* first navbar */

.navbar_row1 span{
  padding: 0 15px;
}

.navbar_row1_btn{
  text-align: right;
  padding: 0px 10px;
}

.navbar_row1_btn i{
  color: #27AFC4;
}

.navbar_row1_btn li{
  padding: 0 10px;
}

/* Second navbar */

.header_navbar_menu{
  margin-top: 80px;
  line-height: 80px;
  background: #FFFFFF
}

.navbar_row2 img{
  vertical-align: middle;
}

.navbar_row2_list{
  text-align: right;
}

.navbar_row2_list a{
  padding: 0 7px;
  color: grey;
  font-weight: bold;
}

.navbar_row2_list i{
  padding-left: 10px;
  color: grey;
  font-weight: bold;
}

/* ---------------- */

/* MAIN */

/* JUMBOTRON */

.background_jumbotron{
  height: 600px;
}

.corp_jumbotron {
  height: 600px;
  background-image: url('../img/jumbotron.png');
  background-size: cover;
}

.text_corp_jumbotron {
  width: 600px;
  height: 100%;
}

.text_corp_jumbotron h1 {
  margin-bottom: 15px;
  font-size: 350%;
  color: #33475B;
  font-weight:  bold;
}
.text_corp_jumbotron p {
  font-size: 16px;
  color: #33475B;
  font-weight:  bold;
}

.text_corp_jumbotron .btn_orange_2{
  padding: 20px 25px;
  margin: 25px 0;
}
.text_corp_jumbotron :nth-last-child(1) {
  font-size: 11px;
  color: #33475B ;
  font-weight:  bold;
}

/* CLOSED JUMBOTRON */

/* FIRST ROW */

.first_row{
  margin: 60px 0 50px 0;
  text-align: center;
}

.first_row img{
  height: 200px;
}

.first_row h2{
  font-size: 35px;
  color: #33475B;
  font-weight: bold;
}

.first_row p{
  margin: 0 auto;
  padding: 20px 0;
  width: 70%;
  font-size: 15px;
  color: #33475B;
  font-weight: bold;
  line-height: 30px;
}
/* CLOSED FIRST ROW */

/* HORIZONTAL BOX */
.horizontal_box{
  border: 3px solid #e8e8e8;
  border-radius: 5px;
  height: 300px;
  background: white;
}

.h_box_part1{
  text-align: center;
  width: 30%;
  height: 100%;
  padding: 40px;
}

.h_box_part1 img{
  text-align: center;
  width: 170px;
}
.h_box_part1 .btn_orange_2{
  padding: 15px 30px;
  margin: 25px 0;
}

.h_box_part2{
  width: 70%;
  height: 100%;
  padding: 30px 0;
}

.h_box_part2 h3{
color:#33475B;
font-size: 25px;
padding: 10px 0;
}

.h_box_part2 p{
color:#33475B;
font-size: 15px;
padding: 10px 0;
width: 75%;
font-weight: bold;
}

.h_box_part2 h4{
color:#33475B;
font-size: 20px;
padding: 15px 0;
font-weight: bold;
}

.h_box_part2 i {
font-size: 18px;
}

.h_box_part2 span{
padding: 10px 10px;
font-size: 18px;
}

/* CLOSED HORIZONTAL BOX */

/* VERTICAL THREE BOX */

.three_box{
  margin-top: 70px;
}

.box_one, .box_two, .box_three {
  width: calc(100% / 3);
}

.box_one{
  padding-right: 20px;
}

.box_two{
  padding: 0 20px;
}

.box_three{
  padding-left: 20px;
}

.box{
  text-align: center;
  padding: 30px;
  border: 3px solid #e8e8e8;
  border-radius: 5px;
  background: #FFF;
}

.box img{
  height: 200px;
}

.box h3{
  font-size: 20px;
  color: #33475B;
  padding: 25px 0;
  font-weight: bold;
}

.box p{
  text-align: center;
  font-size: 17px;
  color: #33475B;
  font-weight: bold;
  padding-bottom: 60px;
  border-bottom: 1px solid #32495b;
  margin-bottom: 30px;
}
.box h4{
  font-size: 20px;
  color: #33475B;
  font-weight: bold;
  padding: 15px 0;
}

.box_text {
  text-align: left;
  line-height: 25px;
  padding-bottom: 45px;
}

.box_text span {
  display: block;
}

.box .btn_orange{
  color: white;
  padding: 20px 35px;
}

/* multibox */

#multibox{
  background: rgb(0,164,189);
  background: linear-gradient(90deg, rgba(0,164,189,1) 0%, rgba(0,178,174,1) 100%);
  margin-top: 50px;
  color: #fff;
  font-weight: bold;
}
.multibox_corp{
  text-align: center;
}

.multibox_corp h2{
  font-size: 32px;
  font-weight: bold;
  padding: 30px;
}

.multibox_corp p{
  font-weight: bold;
  font-size: 90%;
  padding-bottom: 40px;
}

.multibox_1, .multibox_2, .multibox_3{
  padding: 30px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  text-align: center;
}


.multibox_4{
  text-align: center;
  padding: 30px;
  border-bottom: 2px solid;
}

.multibox_5, .multibox_6, .multibox_7{
  padding: 30px;
  border-right: 2px solid;
  text-align: center;
}


.multibox_8{
  text-align: center;
  padding: 30px;
}

/* END PAGE */
.col_1{
  padding-top: 50px;
  margin: 10px;

}

.col_2{
  padding-top: 20px;

}

.col_1 img , .col_2 img{
    margin: 10px;
      vertical-align: middle;
}


#text_end_page{
  font-weight: bold;
  float: left;
  padding: 50px;

}

#text_end_page h2{
  font-size: 40px;
}

#text_end_page p{
  width: 220px
}

footer{
  width: 100%;
  background-color: #33475B;
  color: #667788;
}
